name: CI and automated releases
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  ci:
    uses: relaycorp/shared-workflows/.github/workflows/jvm-lib-ci.yml@main

  release:
    needs: ci
    uses: relaycorp/shared-workflows/.github/workflows/jvm-lib-release.yml@main
    with:
      maven_username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
    secrets:
      maven_password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      maven_central_signing_key_id: ${{ secrets.MAVEN_CENTRAL_SIGNING_KEY_ID }}
      maven_central_signing_key: ${{ secrets.MAVEN_CENTRAL_SIGNING_KEY }}
      maven_central_signing_key_password: ${{ secrets.MAVEN_CENTRAL_SIGNING_KEY_PASSPHRASE }}
