name: CI and automatic releases
on:
  pull_request:
  push:
    branches: [ master ]
jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Test LTS releases
        java: [8, 11]
    name: "java${{ matrix.java }}-${{ matrix.os }}" # Do not change; used by protected branches
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - uses: eskatos/gradle-command-action@v1
        with:
          arguments: build

  release:
    needs: ci
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Generate docs
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: dokka

      # Ridiculous workaround for https://github.com/Kotlin/dokka/issues/163
      - name: Move Dokka's stylesheet into a sensible place
        run: |
          set -x -o nounset -o errexit -o pipefail
          cd ./build/javadoc
          mv ./style.css ./doh/
          find . -name '*.html' -print0 | xargs -0 sed -i 's;../style.css;style.css;g'

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install
      - name: Publish documentation
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          publish_branch: gh-pages
          publish_dir: ./build/javadoc/doh
          allow_empty_commit: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BINTRAY_USERNAME: relaybot
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
